# Lecture 4: Introduction to `pandas` and Data Wrangling

- Introduction to working with (tabular) data using `pandas`

   + Import a csv file into a `pandas` `DataFrame`

- Selecting rows of a DataFrame

- Selecting columns of a DataFrame

- Computing summary statistics on a DataFrame

## `pandas`

- `pandas` is a python package that makes it easy to work with tabular data.

- What is tabular data?

## Data Example 1

Is this data tabular?

![](images/excel_screenshot.png)

## Data Example 2

Is this data tabular?

![](images/platodata.png)

Text is taken from the [Stanford Encyclopedia of Philosophy.](https://plato.stanford.edu/entries/plato-ethics-shorter/)

## Data Example 3

Is this data tabular?

![](images/policesearchdata.png)

## Raw Data

The data from Example 3 is from 

<https://open.toronto.ca/dataset/police-race-and-identity-based-data-collection-arrests-strip-searches/>

Is this **raw data**?

What is this data's provenance?

## Comma Separated Value (csv) Files

- A csv file is a text file that uses a comma (this is an example of a *delimiter*) to separate values.

```
id, person, department
0, MM, STA
1, IM, DCS 
2, CL, GGR
```

- csv files often have a ".csv" extension as part of the file name.  For example, `GGR274faculty.csv`.

- Spreadsheet programs such as Excel are often used to create, read, and store csv files.  But, any program (e.g., Jupyter notebooks) that can manage text files can do the same.

## pandas

- `pandas` is a Python package and is the "fundamental high-level building block for doing practical, real-world data analysis in Python" ([see pandas Getting started](https://pandas.pydata.org/docs/getting_started/overview.html)).

- We will study and use the primary data structures of pandas, `Series` (1-dimensional) and `DataFrame` (2-dimensional).

## Create a pandas `Series`

### Import pandas

First `import` the `pandas` package.

In [1]:
import pandas

This will allow us to access functions and methods in the pandas package in our Jupyter notebook.  But, we can use the Python keyword `as` to abbreviate `pandas`.

In [2]:
import pandas as pd

## Create a pandas Series from a List

In [3]:
people = ['MM', 'IM', 'CL']

faculty_series = pd.Series(people)

faculty_series

0    MM
1    IM
2    CL
dtype: object

In [4]:
dept = ['STA', 'DCS', 'GGR']

department_series = pd.Series(dept)

department_series

0    STA
1    DCS
2    GGR
dtype: object

## Creating a Boolean Series based on a Condition

Create a Series where the element is `True` if `department_series` is equal to `STA` and `False` otherwise.

In [5]:
department_series = pd.Series(dept)

department_series

0    STA
1    DCS
2    GGR
dtype: object

In [6]:
department_series == 'STA'

0     True
1    False
2    False
dtype: bool

Create a Series where the element is `True` if `department_series` is equal to `GGR` and `False` otherwise.

In [10]:
department_series == 'GGR'

0    False
1    False
2     True
dtype: bool

Create a Series where the element is `True` if `department_series` is equal to `STA` **OR** `GGR` and `False` otherwise.

In [12]:
import pandas as pd
department_series = pd.Series(['STA', 'DCS', 'GGR'])
result_series = (department_series == 'STA') | (department_series == 'GGR')
print(result_series)

0     True
1    False
2     True
dtype: bool

Create a Series where the element is `True` if `department_series` is equal to `STA` **AND** `GGR` and `False` otherwise.

In [15]:
import pandas as pd
department_series = pd.Series(['STA', 'DCS', 'GGR'])
result_series = (department_series == 'STA') & (department_series == 'GGR')
print(result_series)

0    False
1    False
2    False
dtype: bool

Create a Series where the element is  
`True` if `department_series` equal to `STA` is **NOT EQUAL** to `department_series` equal to `GGR`,  
and `False` otherwise (this is tricky &#128552;)

In [16]:
import pandas as pd
department_series = pd.Series(['STA', 'DCS', 'GGR'])
result_series = (department_series == 'STA') != (department_series == 'GGR')
print(result_series)

0     True
1    False
2     True
dtype: bool

## Boolean logic with pandas `Series`

When comparing Boolean Series in pandas we use different logical operators

`Series1 = pd.Series([True, False, True])`

`Series2 = pd.Series([False, False, True])`


Operation | Description                              | Result of operation in a list
----------|------------------------------------------|------------
`Series1 & Series2` | `Series1` and `Series 2`       | `[False, False, True]`
`Series1 \| Series2` | `Series1` or `Series 2`       | `[True, False, True]`
`Series1 != Series2` | `Series1` not equal to `Series 2` | `[True, False, False]`

## Create a pandas `DataFrame` using a dictionary

- A dictionary store data in key-value pairs.

- A popular way to create a dictionary is to use curly braces {} and colons `:` to separate keys and values (`key:values`)

```
candy_dict = {'candy': ['fuzzy peach', 'gummy bear', 'chocolate']}

```

- the *key* of `candy_dict` is `candy` 
- the  *values* of `candy` are: `'fuzzy peach', 'gummy bear', 'chocolate'`

In [17]:
candy_dict = {'candy': ['fuzzy peach', 'gummy bear', 'chocolate']}
type(candy_dict)

dict

We can create a `dict` of GGR274 course faculty.

In [18]:
data = {'academic department' : ['STA', 'DCS', 'GGR'], 
        'faculty': ['MM', 'IM', 'CL'],
        'favourite candy': ['nurungji', 'gummy bear', 'chocolate'],
        'name length': [len('Michael Moon'), len('Ilya Musabirov'), len('Chunjiang Li')]}

data

{'academic department': ['STA', 'DCS', 'GGR'],
 'faculty': ['MM', 'IM', 'CL'],
 'favourite candy': ['nurungji', 'gummy bear', 'chocolate'],
 'name length': [12, 14, 12]}

Let's store `data` in a pandas `DataFrame`.

In [19]:
pd.DataFrame(data)

  academic department faculty favourite candy  name length
0                 STA      MM        nurungji           12
1                 DCS      IM      gummy bear           14
2                 GGR      CL       chocolate           12

Now, let's store the pandas `DataFrame` above in a variable called `GGR274fac_df`.

In [20]:
GGR274fac_df = pd.DataFrame(data)

GGR274fac_df

  academic department faculty favourite candy  name length
0                 STA      MM        nurungji           12
1                 DCS      IM      gummy bear           14
2                 GGR      CL       chocolate           12

## Select rows of a `DataFrame` using a list of  `True` & `False` values (a.ka. Boolean values)

Let's remove the second row.

In [21]:
print(GGR274fac_df)

GGR274fac_df[[True, False, True]]

  academic department faculty favourite candy  name length
0                 STA      MM        nurungji           12
1                 DCS      IM      gummy bear           14
2                 GGR      CL       chocolate           12

  academic department faculty favourite candy  name length
0                 STA      MM        nurungji           12
2                 GGR      CL       chocolate           12

In [24]:
print(GGR274fac_df)

GGR274fac_df[[False, True, True]]

  academic department faculty favourite candy  name length
0                 STA      MM        nurungji           12
1                 DCS      IM      gummy bear           14
2                 GGR      CL       chocolate           12

  academic department faculty favourite candy  name length
1                 DCS      IM      gummy bear           14
2                 GGR      CL       chocolate           12

- What happened?

- How can I remove the first row?

GGR274fac_df[[False, True, True]]

In [22]:
from IPython.display import IFrame

url = "https://forms.office.com/Pages/ResponsePage.aspx?id=JsKqeAMvTUuQN7RtVsVSEC-tsJgdMo9KmhgqULaAHJxUMDVXRUM1VEI2TlVRS0IwVTNaSUIwS0VMQi4u&embed=true"

IFrame(url, width = 640, height = 480)

## Select columns of a `DataFrame` using a list of Column Names

- The column names in the `DataFrame` `GGR274fac_df` can be obtained using `list()`.

- There are other ways to get the column names, but we will focus on this for now.

In [25]:
list(GGR274fac_df)

['academic department', 'faculty', 'favourite candy', 'name length']

- To select the column `favourite candy` we can add it in quotation marks inside the square brackets `[]` at the end of the `DataFrame` name.

- For example: $\underbrace{\texttt{GGR274fac_df}}_\text{DataFrame Name}\underbrace{\texttt{['favourite candy']}}_\text{Column Name}$

In [27]:
GGR274fac_df['favourite candy']

0      nurungji
1    gummy bear
2     chocolate
Name: favourite candy, dtype: object

In [28]:
my_list_of_column_names = ['favourite candy', 'name length']

GGR274fac_df[my_list_of_column_names]

  favourite candy  name length
0        nurungji           12
1      gummy bear           14
2       chocolate           12

In [29]:
GGR274fac_df[['favourite candy']]

  favourite candy
0        nurungji
1      gummy bear
2       chocolate

In [30]:
GGR274fac_df_column_names = list(GGR274fac_df)

print(f"The list of column names is: {GGR274fac_df_column_names}")

The list of column names is: ['academic department', 'faculty', 'favourite candy', 'name length']

In [31]:
GGR274fac_df_column_names[0]

'academic department'

In [32]:
GGR274fac_df[GGR274fac_df_column_names[0]]

0    STA
1    DCS
2    GGR
Name: academic department, dtype: object

In [33]:
GGR274fac_df[GGR274fac_df_column_names[3]]

0    12
1    14
2    12
Name: name length, dtype: int64

Which column number will be selected using: 

- `GGR274fac_df[GGR274fac_df_column_names[0]]`

- `GGR274fac_df[GGR274fac_df_column_names[3]]`

## Select rows of a `DataFrame`

- Rows can be selected from a `DataFrame` using a list of Boolean values.

- $\underbrace{\texttt{GGR274fac_df}}_\text{DataFrame Name}\underbrace{\texttt{[[True, False, True]]}}_\text{List of Boolean values}$ 

   + selects the first and third rows of the `DataFrame` since the first and third values are `True`.  The second row is not selected since the second element of the list is `False`.

In [34]:
my_important_condition = [True, False, True]

my_important_condition

[True, False, True]

In [35]:
GGR274fac_cond = GGR274fac_df[my_important_condition] # select rows

my_important_columns = ['academic department', 'faculty']

GGR274fac_cond[my_important_columns] # select columns

  academic department faculty
0                 STA      MM
2                 GGR      CL

## Select rows and columns of a `DataFrame`

Combine these two lines of code:

```
GGR274fac_cond = GGR274fac_df[my_important_condition] # select rows

GGR274fac_cond[mycolumns] # select columns
```

to select rows and columns.

In [36]:
GGR274fac_df

  academic department faculty favourite candy  name length
0                 STA      MM        nurungji           12
1                 DCS      IM      gummy bear           14
2                 GGR      CL       chocolate           12

## Exercise

Create a pandas `DataFrame` with three columns: 

1. Your first name and two people sitting close to you -- your (new??) friends.

2. The distance from home to the U of T St. George campus for you and your two (new?) friends.

3. The month and day of you and your two (new?) friends' birthday.

In [38]:
import pandas as pd

# Given data
data = {
    'Name': ['Vansh', 'David', 'Benji'],
    'Distance_to_UofT': [0.1, 1.2, 12.0],  # distances in kilometers
    'Birthday': ['04-24', '05-22', '07-09']  # assuming MM-DD format
}

# DataFrame from the dictionary
df = pd.DataFrame(data)

# Print the DataFrame
display(df)

    Name  Distance_to_UofT Birthday
0  Vansh               0.1    04-24
1  David               1.2    05-22
2  Benji              12.0    07-09

## Create a `pandas` `DataFrame` from a csv file

- Data will usually be stored in a file such as a csv. 

- It's very **convenient** to "read" the file into a pandas `DataFrame`, since pandas has many methods that can manipulate *tabular* data.  Otherwise, we could use base python to do these manipulations.

## Time Use dataset

Dataset: Statistics Canada General Social Survey's (GSS) Time Use (TU) Survey

- Tracks how people spend their time
- two parts:
    + an _episode_ file where each row describes an event for one person; each person has one row per event (like "make coffee") that they experienced.
    + a _main_ file that includes meta-information about the individuals and also includes summary information from the _episode_ file; there is 1 row of information per person.

- we will stick to the 'main' file for now

The data are stored in file `gss_tu2016_main_file.csv`. The name uses abbreviations:

- `GSS`: general social survey
- `tu2016`: time use from the year 2016
- `csv`: comma-separated values

## Import Time Use Survey Data using pandas

In [39]:
import pandas as pd

timeuse_filename = 'gss_tu2016_main_file.csv'

time_use_data = pd.read_csv(timeuse_filename)

time_use_data.head()

,CASEID,pumfid,wght_per,survmnth,wtbs_001,agecxryg,agegr10,agehsdyc,ageprgrd,chh0014c,...,ree_02,ree_03,rlr_110,lan_01,lanhome,lanhmult,lanmt,lanmtmul,incg1,hhincg1
0,10000,10000,616.6740,7,305.1159,96,5,62,96,0,...,1,1,1,1,1,1,1,1,1,1
1,10001,10001,8516.6140,7,0.0000,6,5,32,5,0,...,5,6,3,1,5,2,5,2,5,8
2,10002,10002,371.7520,1,362.7057,2,4,9,10,3,...,5,1,1,1,1,1,1,1,3,8
3,10003,10003,1019.3135,3,0.0000,96,6,65,96,0,...,3,2,2,1,1,1,1,1,2,2
4,10004,10004,1916.0708,9,11388.9706,96,2,25,96,0,...,9,99,9,9,99,9,99,9,2,4

## Question

**_Do urban residents with more children report feeling more rushed than those with fewer children?_**

Let's narrow the question even further ...

**_Do urban residents with one or more children report feeling more rushed every day versus never feeling rushed than those with no children?_**

Among **urban respondents** that **feel rushed daily or never feel rushed** our data analysis will consist of computing the two proportions:

$$\text{Proportion}_\text{at least one kid} = \frac{\text{Number of respondents that feel rushed daily}}{\text{Number  of respondents with at least one kid that never feel rushed or feel rushed daily}}$$

$$\text{Proportion}_\text{no kids} = \frac{\text{Number of respondents that feel rushed daily}}{\text{Number  of respondents with no kids that never feel rushed or feel rushed daily}}$$

## Wrangle the Time Use Survey Data 

Create a new DataFrame with only the relevant columns needed for the data analysis.  In other words, create a subset of `time_use_data`.

### Selecting columns from a `DataFrame`

What columns are relevant? 

To create an easy to use data set we will only keep the following columns:

- `CASEID`:     participant ID
- `luc_rst`:    large urban centre vs rural and small towns
- `chh0014c`:   number of kids 14 or under
- `gtu_110`:    feeling rushed

In [42]:
important_columns = ["CASEID","luc_rst","chh0014c","gtu_110"] 

subset_time_use_data = time_use_data[important_columns]
subset_time_use_data.head()

   CASEID  luc_rst  chh0014c  gtu_110
0   10000        1         0        1
1   10001        1         0        3
2   10002        1         3        1
3   10003        1         0        2
4   10004        1         0        1

## Rename columns

Use the `rename` function to rename columns.

In [43]:
columnnames = {'CASEID': 'Participant ID',
               'luc_rst': 'Urban/Rural',
               'chh0014c': 'Kids under 14',
               'gtu_110': 'Feeling Rushed'}

subset_time_use_data_colnames = subset_time_use_data.rename(columns=columnnames)

list(subset_time_use_data_colnames)

['Participant ID', 'Urban/Rural', 'Kids under 14', 'Feeling Rushed']

From the code book

```
 luc_rst            Population centre indicator

           VALUE  LABEL
               1  Larger urban population centres (CMA/CA)
               2  Rural areas and small population centres (non CMA/CA)
               3  Prince Edward Island
               6  Valid skip
               7  Don't know
               8  Refusal
               9  Not stated

           Data type: numeric
           Missing-data codes: 6-9
           Record/column: 1/59

```

```
 chh0014c           Child(ren) in household - 0 to 14 years

           VALUE  LABEL
               0  None
               1  One
               2  Two
               3  Three or more
               6  Valid skip
               7  Don't know
               8  Refusal
               9  Not stated

           Data type: numeric
           Missing-data codes: 6-9
           Record/column: 1/40

```

```

      gtu_110            General time use - Feel rushed

           VALUE  LABEL
               1  Every day
               2  A few times a week
               3  About once a week
               4  About once a month
               5  Less than once a month
               6  Never
              96  Valid skip
              97  Don't know
              98  Refusal
              99  Not stated

           Data type: numeric
           Missing-data codes: 96-99
           Record/columns: 1/60-61

```

## Select respondents that live in urban areas

Select the `Urban/Rural` column.

```
 luc_rst            Population centre indicator

           VALUE  LABEL
               1  Larger urban population centres (CMA/CA)
               2  Rural areas and small population centres (non CMA/CA)
               3  Prince Edward Island
               6  Valid skip
               7  Don't know
               8  Refusal
               9  Not stated

           Data type: numeric
           Missing-data codes: 6-9
           Record/column: 1/59

```

In [46]:
urbanrural_col = subset_time_use_data_colnames["Urban/Rural"]

- Create a Boolean variable that is `True` if respondent lives in urban area and `False` otherwise.

In [62]:
# Assuming 'subset_time_use_data' DataFrame has been defined and contains the relevant columns
# Rename the columns as per the provided code
column_names = {'CASEID': 'Participant ID', 'luc_rst': 'Urban/Rural', 'chh0014c': 'Kids under 14', 'gtu_110': 'Feeling Rushed'}
subset_data_colnames = subset_time_use_data.rename(columns=column_names)

# Create a boolean variable indicating urban residents
subset_data_colnames['is_urban'] = subset_data_colnames['Urban/Rural'] == 1

# Display the first few rows of the DataFrame with the new variable
print(subset_data_colnames.head())

   Participant ID  Urban/Rural  Kids under 14  Feeling Rushed  is_urban
0           10000            1              0               1      True
1           10001            1              0               3      True
2           10002            1              3               1      True
3           10003            1              0               2      True
4           10004            1              0               1      True

Look at the `head` (first 5 rows) of the Series using `.head()`

In [63]:
# Assuming 'subset_time_use_data' DataFrame has been defined and contains the relevant columns
# Rename the columns as per the provided code
column_names = {'CASEID': 'Participant ID', 'luc_rst': 'Urban/Rural', 'chh0014c': 'Kids under 14', 'gtu_110': 'Feeling Rushed'}
subset_data_colnames = subset_time_use_data.rename(columns=column_names)

# Create a boolean variable indicating urban residents
subset_data_colnames['is_urban'] = subset_data_colnames['Urban/Rural'] == 1

# Display the head of the 'is_urban' Series
print(subset_data_colnames['is_urban'].head())

0    True
1    True
2    True
3    True
4    True
Name: is_urban, dtype: bool

We can combine 
```
urbanrural_col = subset_time_use_data_colnames["Urban/Rural"]

urban = urbanrural_col == 1
```
into one line of code

In [60]:
urban = (subset_time_use_data_colnames["Urban/Rural"] == 1)

In [61]:
urban.sum() # add up the total number of `True` values

13319

Select all the participants (rows) who live in urban areas in `subset_time_use_data_colnames` using the Boolean series `urban`.

In [64]:
subset_time_use_data_colnames[urban].head()

   Participant ID  Urban/Rural  Kids under 14  Feeling Rushed
0           10000            1              0               1
1           10001            1              0               3
2           10002            1              3               1
3           10003            1              0               2
4           10004            1              0               1

In [65]:
subset_time_use_data_colnames.shape

(17390, 4)

- There are 17 390 rows and 4 columns in `subset_time_use_data_colnames`.

- `DataFrame.shape` returns a *tuple* (a Python data type that stores multiple values).

- Items in a tuple can be accessed in a similar way to a list.

## Define a `DataFrame` with only urban respondents and relevant columns

In [66]:
urban_df = subset_time_use_data_colnames[urban]

urban_df.head()

   Participant ID  Urban/Rural  Kids under 14  Feeling Rushed
0           10000            1              0               1
1           10001            1              0               3
2           10002            1              3               1
3           10003            1              0               2
4           10004            1              0               1

## Examine the *distributions* of each column using `value_counts()`

Distribution of `Kids under 14`.

In [67]:
urban_df['Kids under 14'].value_counts()

Kids under 14
0    10514
1     1268
2     1168
3      369
Name: count, dtype: int64

```
 chh0014c           Child(ren) in household - 0 to 14 years

           VALUE  LABEL
               0  None
               1  One
               2  Two
               3  Three or more
               6  Valid skip
               7  Don't know
               8  Refusal
               9  Not stated

           Data type: numeric
           Missing-data codes: 6-9
           Record/column: 1/40

```

Distribution of `Feeling Rushed`.

In [68]:
urban_df['Feeling Rushed'].value_counts()

Feeling Rushed
1     3986
2     3888
3     1994
6     1802
4     1037
5      562
97      49
98       1
Name: count, dtype: int64

```

      gtu_110            General time use - Feel rushed

           VALUE  LABEL
               1  Every day
               2  A few times a week
               3  About once a week
               4  About once a month
               5  Less than once a month
               6  Never
              96  Valid skip
              97  Don't know
              98  Refusal
              99  Not stated

           Data type: numeric
           Missing-data codes: 96-99
           Record/columns: 1/60-61

```

Distribution of `Urban/Rural`.

In [71]:
urban_df['Urban/Rural'].value_counts()

Urban/Rural
1    13319
Name: count, dtype: int64

Let's compute 

$$\text{Proportion}_\text{at least one kid} = \frac{\text{Number of respondents that feel rushed daily}}{\text{Number  of respondents with at least one kid that never feel rushed or feel rushed daily}}$$

$$\text{Proportion}_\text{no kids} = \frac{\text{Number of respondents that feel rushed daily}}{\text{Number  of respondents with no kids that never feel rushed or feel rushed daily}}$$

to answer 

**_Do urban residents with one or more children report feeling more rushed every day versus never feeling rushed than those with no children?_**

Let's start with the denominator of $\text{Proportion}_\text{at least one kid}$:

${\text{Number  of respondents with at least one kid that never feel rushed or feel rushed daily}}$

Define a Boolean variable `kids_norush` that is: 

- `True` if: 

  + a respondent has at least one kid (`urban_df['Kids under 14'] >= 1`) **and** 

  + never feels rushed (`urban_df['Feeling Rushed'] == 6`)

- `False` otherwise.

In [72]:
kids_norush = (urban_df['Kids under 14'] >= 1) & (urban_df['Feeling Rushed'] == 6)

Define a Boolean variable `kids_rush` that is: 

- `True` if: 

  + a respondent has at least one kid (`urban_df['Kids under 14'] >= 1`) **and** 

  + never feels rushed (`urban_df['Feeling Rushed'] == 1`)

- `False` otherwise.

In [73]:
kids_rush = ((urban_df['Kids under 14'] >= 1) & (urban_df['Feeling Rushed'] == 1))

Compute the total number respondents with `urban_df[Kids under 14] >= 1` that feel rushed daily or never feel rushed.

In [74]:
Total_kids_norush = kids_norush.sum() 

Total_kids_rush = kids_rush.sum()

Total_kids_norush + Total_kids_rush

1485

Now compute the proportion that feel rushed among those with at least one kid.

In [75]:
prop_kids = Total_kids_rush / (Total_kids_norush + Total_kids_rush)

prop_kids

0.94006734006734

Let's do the same for respondents with no kids

In [76]:
nokids_norush = ((urban_df['Kids under 14'] == 0) & (urban_df['Feeling Rushed'] == 6))

nokids_rush = ((urban_df['Kids under 14'] == 0) & (urban_df['Feeling Rushed'] == 1))

Total_nokids_norush = nokids_norush.sum() 

Total_nokids_rush = nokids_rush.sum()

prop_nokids = Total_nokids_rush/(Total_nokids_norush + Total_nokids_rush)

prop_nokids

0.6019056472228678

Let's multiply by 100 and round to decimal places to express as a percentage and print out an informative description of the statistic.

In [77]:
percent_kids = round(prop_kids * 100, 2)

percent_nokids = round(prop_nokids * 100, 2)

print(percent_kids)

print(percent_nokids)

94.01
60.19

Let's add a more detailed description.

In [78]:
nokidstext = 'The percentage of respondents with kids that feel rushed is'

print(f"{nokidstext} {percent_kids}%.") # print interpretation of percent with kids

print('\n') # add a blank line

kidstext = 'The percentage of respondents with no kids that feel rushed is'

print(f"{kidstext} {percent_nokids}%.") # print interpretation of percent with no kids

print('\n')  # add a blank line

difftext = 'more respondents with kids feel rushed compared to respondents without kids.'

print(f"{round(percent_kids - percent_nokids, 2)}% {difftext}")

The percentage of respondents with kids that feel rushed is 94.01%.


The percentage of respondents with no kids that feel rushed is 60.19%.


33.82% more respondents with kids feel rushed compared to respondents without kids.

In [ ]:
# feel free to further experiment with the DataFrame